body{
    background-color: #efefef;
    margin: 0 auto;
}

.top_cupom{
    background:#efefef;
    position: relative;
    text-align: center;
    float: left;
    margin: 0 auto;
    height: 40px;
    width: 100%;
}

.menu_info{
    background: black;
    position: relative;
    text-align: center;
    float: left;
    margin: 0 auto;
    height: 45px;
    width: 100%;
}

.menu_info_box{
    position: relative;
    margin: 0 auto;
    height: 45px;
    width: 1024px;
}

.menu_info_box_logo{
    background: #ffffff;
    position: relative;
    float: left;
    width: auto;
    margin: 0 auto;
    height: 20px;
    padding: 12.5px;
}

.img_logo1{
    float: left;
    height: 20px;
}

.menu_info_box_menu{
    position: relative;
    float: left;
    width: auto;
    margin: 0 auto;
    height: 45px;
}

.mn1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 16px 20px;
    float: left;
    text-decoration: none;
    color: #ffffff;
}

.mn1:hover{
    color: #ff009c;
}

.mn1_card{
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #ffffff;
    background-color: #ff009c;
    text-decoration: none;
    margin: 10px;
}

.mn1_card:hover{
    color: black;
}

.menu{
    position: relative;
    float: left;
    text-align: center;
    background-color: #d0ff00; /*trocar para #efefef*/
    width: 100%;
    height: 145px;
    margin: 0 auto;
}

.menu_box{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 145px;
    background-color: #ff009c; /*trocar para #efefef*/
}

.menu_box_1{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 85px;
    background: pink; /*trocar para #efefef*/
}

.menu_box_2{
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 60px;
    background: red; /*trocar para #efefef*/
}