.tit{
    color: #1b3673;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 20px;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    padding-left: 10px;
}

td:first-child{
    font-weight: bold;
}

tr:first-child{
    border-top: solid 3px #1b3673;
    color: white;
    background-color: #fe5e23;
}

tr{
    line-height: 30px;
}

table tr:nth-child(even){
    background-color: #ffcdba;
}